<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/beach.css">
    <script src="vendors/angular.min.js"></script>
    <script src="scripts/essentials.app.js"></script>
    <script src="scripts/controllers/page.controller.js"></script>
    <script src="scripts/controllers/dice.controller.js"></script>
    <script src="scripts/controllers/names.controller.js"></script>
    <script src="scripts/controllers/scenarios.controller.js"></script>
    <script src="scripts/controllers/cards.controller.js"></script>
    <title>Essential Scripts - JS Edition</title>
</head>
<body>
    <main ng-app="essentialsApp" ng-controller="PageController as PC">
        <h1>Essential Scripts JS</h1>
        <section>
            <button ng-click="PC.toggleView( 0 )">Dice</button>
            <button ng-click="PC.toggleView( 1 )">Names</button>
            <button ng-click="PC.toggleView( 2 )">Scenarios</button>
            <button ng-click="PC.toggleView( 3 )">Cards</button>
        </section>
        <section id="dice" ng-controller="DiceController as DC" ng-if="PC.views[0]">
            <h2>Dice</h2>
            <section>
                <p>
                <input type="number" placeholder="# of dice" ng-model="DC.numDice">d
                <input type="number" placeholder="sides" ng-model='DC.sides'>
                <button ng-Click='DC.rollDice()'>Roll the Bones</button></p>
                <p><strong>Total: {{ DC.answer }}</strong></p>
                <p><input type="checkbox" ng-model="DC.details">Show Details</p>
                <section ng-show="DC.details">
                    <ul>
                        <li ng-repeat="roll in DC.rolls">{{ roll.value }}</li> 
                    </ul>
                </section>
            </section>
        </section>
        <section id="names" ng-controller="NamesController as NC" ng-if="PC.views[1]">
            <h2>Names</h2>
            <section>
                <h3>Generate Name</h3>
                <p><button ng-click="NC.generateName()">Generate</button> <strong>{{ NC.generatedName }}</strong></p>
                <h3>Add Name</h3>
                <p>
                    <input type="text" placeholder="First Name" ng-model="NC.firstNameIn">
                    <input type="text" placeholder="Last Name" ng-model="NC.lastNameIn">
                    <button ng-click="NC.addName()">Add</button>
                </p>
                <p><input type="checkbox" ng-model="NC.showNames">Show possible names</p>
                <section ng-show="NC.showNames">
                    <h3>First Names <button ng-click="NC.emptyNames( true )">Empty</button></h3>
                    <ul id="firstNames">
                        <li ng-repeat="firstName in NC.firstNames">{{ firstName }} <button ng-click="NC.removeName( true, $index );">Remove</button></li>
                    </ul>
                    <h3>Last Names <button ng-click="NC.emptyNames( false )">Empty</button></h3>
                    <ul id="lastNames">
                        <li ng-repeat="lastName in NC.lastNames">{{ lastName }} <button ng-click="NC.removeName( false, $index );">Remove</button></li>
                    </ul>
                </section>
            </section>
        </section>
        <section id="scenarios" ng-controller="ScenariosController as SC" ng-if="PC.views[2]">
            <h2>Scenarios</h2>
            <section>
                <h3>Generate Scenario</h3>
                <p><button ng-click="SC.generateScenario()">Generate</button> <strong>{{ SC.generatedScenario }}</strong></p>
                <h3>Add Scenario</h3>
                <p>
                    <input type="text" placeholder="Setting" ng-model="NC.settingIn">
                    <input type="text" placeholder="Objective" ng-model="NC.objectiveIn">
                    <input type="text" placeholder="Antagonist" ng-model="NC.antagonistIn">
                    <input type="text" placeholder="Complication" ng-model="NC.complicationIn">
                    <button ng-click="SC.addScenario()">Add</button>
                </p>
                <p><input type="checkbox" ng-model="SC.showScenarios">Show possible Scenarios</p>
                <section ng-show="SC.showScenarios">
                    <h3>Settings <button ng-click="SC.emptyScenario( 0 )">Empty</button></h3>
                    <ul id="settings">
                        <li ng-repeat="setting in SC.settings">{{ setting }} <button ng-click="SC.removeScenario( 0, $index );">Remove</button></li>
                    </ul>
                    <h3>Objectives <button ng-click="SC.emptyScenario( 1 )">Empty</button></h3>
                    <ul id="objectives">
                        <li ng-repeat="objective in SC.objectives">{{ objective }} <button ng-click="SC.removeScenario( 1, $index );">Remove</button></li>
                    </ul>
                    <h3>Antagonists <button ng-click="SC.emptyScenario( 2 )">Empty</button></h3>
                    <ul id="antagonists">
                        <li ng-repeat="antagonist in SC.antagonists">{{ antagonist }} <button ng-click="SC.removeScenario( 2, $index );">Remove</button></li>
                    </ul>
                    <h3>Complications <button ng-click="SC.emptyScenario( 3 )">Empty</button></h3>
                    <ul id="complications">
                        <li ng-repeat="complication in SC.complications">{{ complication }} <button ng-click="SC.removeScenario( 3, $index );">Remove</button></li>
                    </ul>
                </section>
            </section>
        </section>
        <section id="cards" ng-controller="CardsController as CC" ng-if="PC.views[3]">
            <h2>Cards</h2>
            <section>
                <section>
                    <h2>Current Hand</h2>
                    <p><button ng-click="CC.drawRandom()">Draw Random</button><button ng-click="CC.drawFromEnd( true )">Draw Top</button><button ng-click="CC.drawFromEnd( false )">Draw Bottom</button></p>
                    <ul>
                        <li ng-repeat="card in CC.drawnHand">{{ card.display() }} <button ng-click="CC.returnCard( $index )">Return</button></li>
                    </ul>
                    <p>Blackjack Total: {{ CC.drawnHandBlackjackTotal }}, <input type="checkbox" ng-model="CC.lowAces" ng-change="CC.calculateBlackjackTotal()">Aces Low</p>
                </section>
                <p><input type="checkbox" ng-model="CC.showAll">Show deck <button ng-click="CC.shuffleDeck()">Shuffle</button></p>
                <section ng-show="CC.showAll">
                    <ul>
                        <li ng-repeat="card in CC.deck">{{ card.display() }} <button ng-click='CC.drawCard( $index )'>Draw</button></li>
                    </ul>
                </section>
            </section>
        </section>
    </main>
</body>
</html>